<div class="row">
  <div class="large-12 columns">
    <h2>Purchase <%= @purchase.id %></h2>
    <p>For video: <%= @purchase.video.title %></p>
    <p>For user: <%= @purchase.user.email %></p>
    <p>On Date: <%= @purchase.created_at.stamp('1st of Jan 1992') %></p>
  </div>
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>Charge ID</th>
          <th>Last 4 Digits</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @charge.id %></td>
          <td><%= @charge.card.last4 %></td>
          <td><a href="">Refund</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
