<div class="row">
  <div class="large-12 columns">
    <h2>Purchases for <%= @video.title %></h2>
    <p>Total: <%= @video.purchases.length %>.</p>
  </div>
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Charge ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @video.purchases.each do |purchase| %>
          <tr>
            <td>
              <%= purchase.user.email %>
            </td>
            <td><%= purchase.created_at.stamp('1st of Jan 1992') %></td>
            <td><%= purchase.charge_id %></td>
            <td><a href="/admin/purchase/<%= purchase.id %>">Purchase Info</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
