<div class="row">
  <div class="large-8 columns">
    <h1>
      <%= @video.title %><br>
      <small><%= @video.created_at.stamp('1st of January 1992') %></small>
    </h1>
    <% if current_user.has_video?(@video) %>
      <div class="video-player">
        <video id="my_video_1" class="video-js vjs-default-skin" controls
          preload="auto" width="640" height="264" data-setup="{}">
          <source src="<%= @s3_url %>" type='video/mp4'>
        </video>
        <p>It is recommended that you view the video full screen for the best results.</p>
      </div>
      <a class="button" href="<%= @s3_url %>">Download (MP4)</a>
      <p>The download URL is valid for one hour. If it expires, refresh the page to get a new URL.</p>
    <% else %>
      <div class="purchase-video">
        <a class="button large" href="/purchase/<%= @video.id %>">Purchase (&pound;3)</a>
      </div>
    <% end %>

    <h4>Description</h4>
    <p><%= @video.description %></p>
  </div>
  <div class="large-3 large-offset-1 columns">

    <h4>Topics covered in this video.</h4>
    <ul>
      <% @video.topics.each do |t| %>
        <li><%= t %></li>
      <% end %>
    </ul>

    <% if @video.free? %>
      <h4>This video is free to watch.</h4>
      <p>If you found this video useful, you might like <a href="/archives">some of our other videos</a>.</p>
    <% end %>

    <% if current_user.has_video?(@video) && !@video.free? %>
      <p>You purchased this video on <%= @video.purchase_for_user(current_user).created_at.stamp('1st of January, 2014 at 5:15pm') %>. Thank you for your support of Devcast.in.</p>
    <% end %>

  </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/video_player.js"></script>

